<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->    
        <div id="wrapper">

            <!-- Content -->
            <div id="content">                                

                <h2 class="icon fa-plus-circle"> Create new user</h2>



                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/users/add-submit}" 
                                  th:object="${userDTO}" method="post" >

                                <div class="row uniform 12u">

                                    <div class="6u">
                                        <h2 th:text="#{visits.hunter}">hunters name</h2>
                                        <select th:field="*{hunterId}" required="true">
                                            <option th:each="hunter : ${orphanHunters}" 
                                                    th:value="${hunter.id}" 
                                                    th:text="${hunter.getAllName()}">hunterName</option>
                                        </select>
                                    </div>



                                    <div class="6u">
                                        <h2 class="3u" th:text="#{users.mail}">Name</h2>
                                        <input type="text" th:field="${userDTO.mail}" autofocus="autofocus" th:placeholder="#{users.mail}" required="true"/>
                                        <br />
                                    </div>
                                    <div class="6u">
                                        <label th:text="#{password}"> Password:</label> <input type="password" name="password"/>
                                    </div>                                    
                                    <div class="12u" th:text="#{user.add.desc}">
                                        Create credentials for selected hunter without one.
                                    </div>                                                                

                                    <div class="9u">
                                        <input type="submit" th:value="#{save}" name="save"/>
                                        <input class="alt" type="reset" th:value="#{reset}"/>
                                        <a th:href="@{/users}"><input class="alt" type="button" th:value="#{cancel}"/></a>
                                    </div>
                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (users)"></div>

        </div>

    </body>
</html>

