<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">

                    <section class="box text-style1">
                        <h2 class="icon fa-user" th:text="#{detail}"> User detail</h2>
                        <div class="inner">

                            <div class="row uniform 12u">
                                <h2 class="3u" th:text="#{users.hunter}">Hunter</h2>
                                <!--<a class="9u" th:href="@{/hunters/detail(id=${userDTO.hunter.id})}">-->
                                <div class="9u" >
                                    <h4  th:text="${userDTO.hunter.firstName + ' ' + userDTO.hunter.surName}">hunter</h4>
                                </div>
                                <!--</a>-->    
                                <h2 class="3u" th:text="#{users.mail}">Mail</h2>
                                <div class="9u" >
                                    <h4 th:text="${userDTO.mail}" >Mail"</h4>
                                </div>
                                
                                <div class="9u">
                                    <a th:href="@{/users/edit(id=${userDTO.id})}"><input type="button" th:value="#{users.edit}"/></a>
                                    <a th:href="@{/users}"><input class="alt" type="button" th:value="#{back}"/></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (users)"></div>

        </div>

    </body>
</html>