<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                
                <h2 th:text="#{users.editation}"> Editing user</h2>
                
                <div class="inner">
                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/users/edit-submit}" 
                                  th:object="${userDTO}" method="post">
                                <div class="row uniform 12u">
                                    
                                    <div class="6u">
                                        <h2 class="3u" th:text="#{users.hunter}">hunters name</h2>
                                        <select th:field="*{hunterId}" th:value="*{hunter.id}" required="true">
                                            <option th:value="*{hunter.id}"                                                    
                                                    th:text="*{hunter.getAllName()}">hunterName</option>
                                            <option th:each="hunter : ${allHunters}" 
                                                    th:value="${hunter.id}" 
                                                    th:text="${hunter.getAllName()}">hunterName</option>
                                        </select>
                                    </div>
                                    
                                    
                                    
                                    <div class="6u">
                                        <h2 class="3u" th:text="#{users.mail}">Mail</h2>
                                        <input type="text" th:field="${userDTO.mail}" th:value="${userDTO.mail}" autofocus="autofocus" th:placeholder="#{users.mail}" required="true"/>
                                    </div>
                                                                        
                                    
                                    <input type="hidden" th:field="${userDTO.id}" th:value="*{id}"/>
                                    
                                    <div class="9u">
                                        <input type="submit" th:value="#{save}" name="save"/>
                                        <input class="alt" type="reset" th:value="#{reset}"/>
                                        <a th:href="@{/users}"><input class="alt" type="button" th:value="#{cancel}"/></a>
                                    </div>
                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>
                            
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (users)"></div>

        </div>

    </body>
</html>
