<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">
                    <h2 class="icon fa-plus-circle" th:text="#{mushrooms.new}"> Create new mushroom</h2>
                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/mushrooms/add-submit}" 
                                  th:object="${mushroomDTO}" method="post" 
                                  th:include="/mushrooms/mushroomForm :: mushroomForm">
                            </form>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (mushrooms)"></div>

        </div>

    </body>
</html>
