<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">

                    <section class="box text-style1">
                        <h2 class="icon fa-user" th:text="#{mushrooms.detail}"> Mushroom  detail</h2>
                        <div class="inner">

                            <div class="row uniform 12u">
                                <h2 class="3u" th:text="#{mushrooms.name}">
                                    Name
                                </h2>
                                <div class="9u" >
                                    <h4 th:text="${mushroomDTO.name}" >Name"</h4>
                                </div>
                                <h2 class="3u" th:text="#{mushrooms.occurence}">

                                </h2>
                                <div class="9u" >
                                    <h4 th:text="${mushroomDTO.occurence}" >Occurence"</h4>
                                </div>
                                <h2 class="3u" th:text="#{mushrooms.type}">
                                    Type
                                </h2>
                                <div class="9u" >
                                    <h4 th:text="#{${#strings.toLowerCase(mushroomDTO.type)}}" >Edible"</h4>
                                </div>

                                <div class="9u">
                                    <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:href="@{/mushrooms/edit(id=${mushroomDTO.id})}"><input type="button" th:value="#{mushrooms.edit}"/></a>
                                    <a th:href="@{/mushrooms}"><input class="alt" type="button" th:value="#{mushrooms.back}"/></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (mushrooms)"></div>

        </div>

    </body>
</html>