<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <h2 class="icon fa-plus-circle" th:text="#{mushrooms.new}"> Create new mushroom hunter</h2>
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/mushrooms/add-submit}" th:object="${mushroomDTO}" method="post" th:fragment="mushroomForm">
                                <div class="row uniform 12u">
                                    <div class="6u">
                                        <input type="text" th:field="*{name}" th:value="*{name}" required="true" autofocus="autofocus" th:placeholder="#{mushrooms.name}"/>
                                    </div>
                                    <div class="6u">
                                        <input type="text" th:field="*{occurence}" th:value="*{occurence}" required="true" th:placeholder="#{mushrooms.occurence}"/>
                                    </div>
                                    <input type="hidden" th:field="*{id}" th:value="*{id}"/>
                                    <div class="12u">
                                        <ul>
                                            <li>
                                                <label th:text="#{mushrooms.type}">Mushroom type:</label>
                                            </li>
                                            <li th:each="type : ${mushroomType}">
                                                <input type="radio" th:field="*{type}" th:value="${type}"  required="true" />
                                                <label th:for="${#ids.prev('type')}" 
                                                       th:text="#{${#strings.toLowerCase(type)}}">Edible</label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="12u">
                                        <input type="submit" th:value="#{save}" name="save"/>
                                        <input th:if="*{id} == 0" class="alt" type="reset" th:value="#{reset}"/>
                                        <a th:if="*{id} != 0" th:href="@{'/mushrooms/edit?id='+ *{id} }"> <input class="alt" type="button" th:value="#{reset}"/></a>

                                        <a th:href="@{/mushrooms}"><input class="alt" type="button" th:value="#{cancel}"/></a>
                                    </div>
                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (mushrooms)"></div>

        </div>

    </body>
</html>
