<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title th:text="#{error}">Error</title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">
                    <div class="">
                        <div >
                            <div th:switch="${status}">
                                <h2 class="icon fa-2x fa-times mh-color 12u" th:case="404" th:text="#{error.404}">Error 404</h2>   
                                <h2 class="icon fa-2x fa-times mh-color 12u" th:case="403" th:text="#{error.403}">Error 403</h2>
                                <h2 class="icon fa-2x fa-times mh-color 12u" th:case="*" th:text="#{error.unknown}"> Unknown error</h2>

                            </div>
                        </div>
                    </div>
                    <!-- Text -->
                    <section class="box text-style1">
                        <div class="inner">
                            <div th:switch="${status}">
                                <h2 th:case="404" th:text="#{error.404.msg}">404 msg</h2>   
                                <h2 th:case="403" th:text="#{error.403.msg}"> 403 msg</h2>
                                <h2 th:case="*" th:text="#{error.unknown.msg}"> Unknown error msg</h2>
                            </div>
                            <div th:if="${false}" class="icon fa-dot-circle-o modal-error mh-color" th:text="${error + ' (' +status + '): ' + message}">
                                error + status + message, set true to display (only for debug purposes)
                            </div>
                                <a class="button icon fa-left mh-back" th:text="#{back}" th:href="@{/}" >back</a>

                        </div>
                    </section>
                </div>
                <div class="mh-copyright">
                    &copy; FI MUNI | Design: <a href="http://html5up.net">HTML5 UP</a>
                </div>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (index)"></div>

        </div>

    </body>
</html>