<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">

                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">               
                            <div class="row uniform">
                                <div class="8u">
                                    <h2 th:text="#{forests.forests}"> Forests</h2>
                                </div>
                                <div sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="4u">
                                    <a class="button icon fit fa-plus-circle" th:href="@{/forests/add}" th:text="#{forests.add}"> Add</a>
                                </div>
                            </div>
                            <div class="row uniform"> &nbsp;</div>
                            <div class="table-wrapper" th:fragment="forests">
                                <table class="default" id="forests_table" th:attr="data-lang=#{datatables.url}">
                                    <thead>
                                        <tr>
                                            <th th:text="#{forests.name}">Name</th>
                                            <th th:text="#{forests.description}">Description</th>
                                            <th th:text="#{forests.latitude}">Latitude</th>
                                            <th th:text="#{forests.longitude}">Longitude</th>
                                            <th sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:text="#{forests.actions}">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="forest : ${allForests}">

                                            <td><a th:href="@{/forests/detail(id=${forest.id})}"  th:text="${forest.name}">Detail</a></td>
                                            <td th:text="${forest.description}"></td>
                                            <td th:text="${forest.latitude}"></td>
                                            <td th:text="${forest.longitude}"></td>
                                            <td sec:authorize="hasRole('ROLE_ADMINISTRATOR')" >
                                                <a th:href="@{/forests/edit(id=${forest.id})}" >
                                                    <img th:src="@{/images/pencil.png}" width="16" th:alt="#{forests.edit}" th:title="#{forests.edit}"/></a>
                                                <a th:onclick="'return confirm(\''+#{forests.delete}+'\');'" th:href="@{/forests/delete(id=${forest.id})}" >
                                                    <img th:src="@{/images/delete.png}" width="32" th:alt="#{forests.delete}" th:title="#{forests.delete}"/></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (forests)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#forests_table').data("lang");
                $('#forests_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });

        </script>

    </body>
</html>