<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="index :: header">
        <title></title>
    </head>
    <body class="left-sidebar">
        <!-- Wrapper -->    
        <div id="wrapper">
            <!-- Content -->
            <div id="content">


                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <div class="row uniform">
                                <div class="8u">
                                    <h2 class="icon fa-users" th:text="#{hunters.hunters}">Mushroom hunters catalogue</h2>
                                </div>
                            </div>
                            <div class="row uniform"> &nbsp;</div>
                            <div class="table-wrapper" th:fragment="hunters">

                                <table class="default" id="hunters_table" th:attr="data-lang=#{datatables.url}">
                                    <thead>
                                        <tr>
                                            <th th:text="#{hunters.firstName}">First name</th>
                                            <th th:text="#{hunters.lastName}">Last name</th>
                                            <th th:text="#{hunters.personalInfo}">Personal info</th>
                                            <th sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:text="#{hunters.actions}">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="hunter : ${allHunters}">
                                            <td ><a th:href="@{/hunters/detail(id=${hunter.id})}" th:text="${hunter.firstName}" class=""> detail</a></td>
                                            <td ><a th:href="@{/hunters/detail(id=${hunter.id})}" th:text="${hunter.surName}" class=""> detail</a></td>
                                            <td th:text="${#strings.abbreviate(hunter.personalInfo,30)}">
                                                A neutron walks into a bar and asks how 
                                                much for a drink. The bartender replies 
                                                "for you, no charge".</td>
                                            <td sec:authorize="hasRole('ROLE_ADMINISTRATOR')" >
                                                <a th:href="@{/hunters/edit(id=${hunter.id})}" class="">
                                                    <img th:src="@{/images/pencil.png}" width="16" th:alt="#{hunters.edit}" th:title="#{hunters.edit}"/></a>
                                                <a th:onclick="'return confirm(\''+#{hunters.delete}+'\');'" th:href="@{/hunters/delete(id=${hunter.id})}" class="">
                                                    <img th:src="@{/images/delete.png}" width="32" th:alt="#{hunters.delete}" th:title="#{hunters.delete}"/></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (hunters)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#hunters_table').data("lang");
                $('#hunters_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });

        </script>
    </body>
</html>