<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title>Mushroom Hunter portal</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script th:src="@{/css/ie/html5shiv.js}"></script><![endif]-->
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/skel.min.js}"></script>
        <script th:src="@{/js/skel-layers.min.js}"></script>
        <script th:src="@{/js/init.js}"></script>
        <script type="text/javascript" charset="utf8" th:src="@{/js/jquery.dataTables.js}"></script>

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.css}" />
        <noscript>
            <link rel="stylesheet" th:href="@{/css/skel.css}" />

            <link rel="stylesheet" th:href="@{/css/style.css}" />
            <link rel="stylesheet" th:href="@{/css/style-desktop.css}" />
            <link rel="stylesheet" th:href="@{/css/style-wide.css}" />
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet"  th:href="@{/css/ie/v8.css}" /><![endif]-->
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">
                    <!--<header>-->
                    <div class="row">
                        <h2 class="fa-2x 12u" href="#" th:text="#{portal.index.header}">Default welcome </h2>
                        <p class="fa-lg 12u" th:text="#{portal.index.subheader}">A free, fully responsive HTML5 site about mushrooms</p>
                    </div>
                    <!-- Text -->
                    <section class="box text-style1">
                        <div class="inner">
                            <p th:utext="#{portal.index.striped}">
                                <strong>Striped:</strong> A free and fully responsive HTML5 site
                                template designed by <a href="http://n33.co/">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a>
                            </p>
                        </div>
                        <div th:if="${#authorization.expression('isAnonymous()')}" >
                            <span th:text="#{portal.index.loginMsg}">Pro pokračování se přihlaste:</span>
                        <br/>
                        <a class="button icon fit fa-plus-circle" th:href="@{/login}" th:text="#{portal.login}"><input type=""> New hunter</input></a>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMINISTRATOR'', ''ROLE_USER'')')}">
                <div id="sidebar" th:include="sidebar :: sidebar (index)"></div>
            </div>
        </div>

    </body>
</html>