<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{portal.login}">Login</title>
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/skel.min.js}"></script>
        <script th:src="@{/js/init-login.js}"></script>

    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Content -->
            <div id="content">
                <div class="mh-login-form mh-centered">
                    <h2 class="icon fa-lock" th:text="#{portal.login}">Login</h2>
                    <div class="inner">
                        <section class="box text-style1">
                            <div class="inner 12u">
                                <div class="row uniform 12u mh-centered">
                                    <div th:if="${param.error}" th:text="#{login.error}" class="mh-color mh-login-info mh-centered">
                                        Invalid username or password.
                                    </div>
                                    <div th:if="${param.logout}" th:text="#{logout.msg}" class="mh-login-info mh-centered">
                                        You have been logged out.
                                    </div>
                                    <form th:action="@{/login}" method="post">
                                        <div><label th:text="#{email}"> Email :</label> <input type="text" name="username"/></div>
                                        <div><label th:text="#{password}"> Password:</label> <input type="password" name="password"/></div>
                                        <div><input class="12u" type="submit" th:value="#{portal.login}"/>
                                            <a th:href="@{/signup}">
                                                <input class="alt 12u" type="button" th:value="#{portal.index.signUp}"/>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div  class="mh-copyright">
                        &copy; FI MUNI | Design: <a href="http://html5up.net">HTML5 UP</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
