<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="modal-error">
            <div class="mh-modal-error-container" th:if="${#fields.hasErrors('*')}">
                <div class="icon fa-dot-circle-o mh-modal-error mh-color" th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>    
            </div>

        </div>
    </body>
</html>
