<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <div class="row uniform">
                                <div class="8u">
                                    <h2 th:text="#{mushrooms.catalogue}">Mushroom catalogue</h2>
                                </div>
                                <div sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="4u">
                                    <a class="button icon fit fa-plus-circle" th:href="@{/mushrooms/add}" th:text="#{mushrooms.add}"> New mushroom</a>
                                </div>
                            </div>
                            <div class="row uniform"> &nbsp;</div>

                            <div class="table-wrapper" th:fragment="mushrooms">
                                <table class="default" id="mushrooms_table" th:attr="data-lang=#{datatables.url}">
                                    <thead>
                                        <tr>
                                            <th th:text="#{mushrooms.name}">Name</th>
                                            <th th:text="#{mushrooms.type}">Type</th>
                                            <th th:text="#{mushrooms.occurence}">Occurence</th>
                                            <th sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:text="#{mushrooms.actions}">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mushroom : ${allMushrooms}">
                                            
                                            <td><a th:href="@{/mushrooms/detail(id=${mushroom.id})}"  th:text="${mushroom.name}">mushroom</a></td>
                                            <td th:text="#{${#strings.toLowerCase(mushroom.type)}}">poisonous</td>
                                            <td th:text="${mushroom.occurence}">none</td>
                                            <td sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                                                <a th:href="@{/mushrooms/edit(id=${mushroom.id})}" >
                                                    <img th:src="@{/images/pencil.png}" width="16" th:alt="#{mushrooms.edit}" th:title="#{mushrooms.edit}"/></a>
                                                <a th:href="@{/mushrooms/delete(id=${mushroom.id})}">
                                                    <img th:src="@{/images/delete.png}" width="32" th:alt="#{mushrooms.delete}" th:title="#{mushrooms.delete}"/></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (mushrooms)"></div>

        </div>



        <script>
            $(document).ready(function () {
                var lang = $('#mushrooms_table').data("lang");
                $('#mushrooms_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });

        </script>
    </body>
</html>