<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <h2 class="icon fa-user" th:text="#{myProfile}"> My profile</h2>
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <div class="row uniform 12u" th:object="${userDTO}">
                                <div class="row uniform 12u">

                                    <h2 class="3u" th:text="#{hunters.firstName}">first name</h2>
                                    <div class="9u">
                                        <h4 th:text="*{hunter.firstName}" >First Name"</h4>
                                    </div>
                                    <h2 class="3u" th:text="#{hunters.lastName}">last name</h2>

                                    <div class="9u">
                                        <h3 th:text="*{hunter.surName}" >First Name"</h3>
                                    </div>
                                    <h2 class="3u" th:text="#{hunters.personalInfo}">last name</h2>
                                    <div class="9u">
                                        <h3 th:text="*{hunter.personalInfo} + '&nbsp;'" >personal info"</h3><span ></span>


                                    </div>
                                    <div class="3u">
                                        <h2 th:text="#{email}"> Email:</h2> 
                                    </div>
                                    <div class="9u">
                                        <h3 th:text="*{mail}" >balbla@bla.com"</h3>
                                    </div>
                                    <div class="3u">
                                        <h2 th:text="#{role}"> Role:</h2> 
                                    </div>
                                    <div class="9u">
                                        <h3 sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:text="#{role_administrator}" >admin"</h3>
                                        <h3 sec:authorize="hasRole('ROLE_USER')" th:text="#{role_user}" >user"</h3>
                                    </div>
                                    <h2 class='12u' th:text='#{hunters.visits}'>visits</h2>

                                    <div class="12u table-wrapper">
                                        <table class="default" id="visits_table" th:attr="data-lang=#{datatables.url}">
                                            <thead>
                                                <tr>
                                                    <th th:text="#{visits.note}">Note</th>
                                                    <th th:text="#{visits.dateOfVisit}">Date of visit</th>
                                                    <th th:text='#{visits.forest}'>forest</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="visit: ${visits}">
                                                    <td><a th:href="@{/visits/detail(id=${visit.id})}"  th:text="${visit.note}">detail</a></td>
                                                    <td th:text="${#dates.format(visit.dateOfVisit, 'dd.MM.yyyy')}">date of visit</td>
                                                    <td th:text="${visit.forest.name}">forest</td>  
                                                    <td>
                                                        <a th:href="@{/visits/edit(id=${visit.id})}">
                                                            <img th:src="@{/images/pencil.png}" width="16" th:alt="#{edit}" th:title="#{edit}"/></a>
                                                        <a th:href="@{/visits/delete(id=${visit.id})}">
                                                            <img th:src="@{/images/delete.png}" width="32" th:alt="#{delete}" th:title="#{delete}"/></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>

                                <div class="3u">
                                    <a th:href="@{/profile/edit}"><input class="alt" type="button" th:value="#{edit}"/></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (null)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#visits_table').data("lang");
                $('#visits_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });
        </script>
    </body>
</html>