<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <h2 class="icon fa-search" th:text="#{search.results}">Search results</h2>
                <div class="inner">
                    <section class="box text-style1">
                        <div class="inner">
                            <div class="8u">
                            </div>
                            <h3 th:text="#{portal.mushrooms}">Mushrooms</h3>
                            <div class="" th:include="mushrooms :: mushrooms">
                            </div>
                            <h3 th:text="#{portal.hunters}">Hunters</h3>
                            <div class="" th:include="hunters :: hunters">
                            </div>
                            <h3 th:text="#{portal.forests}">Forests</h3>
                            <div class="" th:include="forests :: forests">
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (search)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#mushrooms_table').data("lang");
                $('#mushrooms_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
                var lang = $('#hunters_table').data("lang");
                $('#hunters_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
                var lang = $('#forests_table').data("lang");
                $('#forests_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });

        </script>
    </body>
</html>