<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sidebar</title>
    </head>
    <body>
        <!-- Sidebar -->
        <div id="sidebar" th:fragment="sidebar (highlightedPage)">

            <!--<div class="mh-sidebar-profile">-->
            <div>
                <a class="mh-no-text-line mh-profile-a"  th:text="#{myProfile}" th:href="@{/profile}" >
                    My profile
                </a>
                <div class="mh-logout-a">
                    <form name="logoutForm" th:action="@{/logout}" method="post">
                        <a class="mh-no-text-line"  th:text="#{logout}" href="#" onclick="document.logoutForm.submit();">Logout</a>
                    </form>
                </div>
            </div>

            <div class="mh-logout-a">

            </div>
            <!--</div>-->
            <!-- Logo -->
            <h1 id="logo"><a th:href="@{/}"><img th:src="@{/images/mushroom_logo.svg}" width="100px" height="100px" alt="LOGO"/><br/><p class="mh-logo">Mushroom Hunters</p></a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li th:class="${highlightedPage == 'mushrooms'} ? 'current'"><a href="/pa165/mushrooms" th:href="@{/mushrooms}" th:text="#{portal.mushrooms}">Mushrooms</a></li>
                    <li th:class="${highlightedPage == 'visits'} ? 'current'"><a href="/pa165/visits"       th:href="@{/visits}" th:text="#{portal.visits}">Latests hunts</a></li>
                    <li th:class="${highlightedPage == 'forests'} ? 'current'"><a href="/pa165/forests" th:href="@{/forests}" th:text="#{portal.forests}">Forests</a></li>
                    <li th:class="${highlightedPage == 'hunters'} ? 'current'"><a href="/pa165/hunters" th:href="@{/hunters}" th:text="#{portal.hunters}">Hunters</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMINISTRATOR')"  th:class="${highlightedPage == 'users'} ? 'current'"><a href="/pa165/users" th:href="@{/users}" th:text="#{portal.users}">Hunters</a></li>

                </ul>
            </nav>

            <!-- Search -->
            <section class="box search">
                <form action="#" th:action="@{/search}" method="get">
                    <input type="text" class="text" name="search" th:placeholder="#{portal.search}" />
                </form>
            </section>

            <!-- Copyright -->
            <ul id="copyright">
                <li>&copy; FI MUNI.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>

        </div>
    </body>
</html>
