<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{portal.signup.header}">Sign-up</title>
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/skel.min.js}"></script>
        <script th:src="@{/js/init-login.js}"></script>
    </head>
    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="mh-signup-form mh-centered">

                    <h2 class="icon fa-user" th:text="#{portal.signup.header}">Sign up</h2>

                    <div class="inner">
                        <section class="box text-style1">
                            <div class="inner">
                                <form action="#" th:action="@{/signup-submit}"
                                      th:object="${userDTO}" method="post">
                                    <div class="row uniform 12u">
                                        <div class="12u" th:include="modalError :: modal-error">list of errors</div>
                                        
                                            <div th:if="${mailIsAlreadyTaken}" th:text="#{mail.chooseDifferent}" class="12u icon fa-dot-circle-o mh-modal-error mh-color mh-modal-error-container" > mail is taken</div>
                                            <div th:if="${emptyPassword}" th:text="#{password.required}" class="12u icon fa-dot-circle-o mh-modal-error mh-color mh-modal-error-container" > empty password</div>
                                            <div th:if="${shortPassword}" th:text="#{password.short}" class="12u icon fa-dot-circle-o mh-modal-error mh-color mh-modal-error-container" > password is too short</div>
                                        <div class="6u">
                                            <input type="text" th:field="*{hunter.firstName}" th:value="*{hunter.firstName}" autofocus="autofocus" th:placeholder="#{hunters.firstName}" required="true"/>
                                        </div>
                                        <div class="6u">
                                            <input type="text" th:field="*{hunter.surName}" th:value="*{hunter.surName}" th:placeholder="#{hunters.lastName}" required="true"/>
                                        </div>
                                        <div class="12u">
                                            <textarea th:field="*{hunter.personalInfo}" th:value="*{hunter.personalInfo}" th:placeholder="#{hunters.personalInfo}" rows="4" maxlength="255"/>​
                                        </div>
                                        <div class="12u">
                                            <label> Email:</label> <input th:field="*{mail}" th:value="*{mail}" th:placeholder="#{email.placeholder}" type="text"/> 
                                        </div>
                                        <div class="12u">
                                            <label th:text="#{password}"> Password:</label> <input type="password" name="password"/>
                                        </div>

                                        <div class="12u">
                                            <input type="submit" th:value="#{hunters.save}" name="save"/>
                                            <input class="alt" type="reset" th:value="#{hunters.reset}"/>
                                            <a th:href="@{/hunters}"><input class="alt" type="button" th:value="#{hunters.cancel}"/></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="mh-copyright">
                        &copy; FI MUNI | Design: <a href="http://html5up.net">HTML5 UP</a>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
