<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title th:text="#{portal.users}">Users</title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <div class="row uniform">
                                <div class="8u">
                                    <h2 th:text="#{users.catalogue}">User catalogue</h2>
                                </div>
                                <div class="4u">
                                    <a class="button icon fit fa-plus-circle" th:href="@{/users/add}" th:text="#{add}"> New user</a>
                                </div>
                            </div>
                            <div class="row uniform"> &nbsp;</div>

                            <div class="table-wrapper" th:fragment="users">
                                <table class="default" id="users_table" th:attr="data-lang=#{datatables.url}">
                                    <thead>
                                        <tr>
                                            <th th:text="#{users.hunter}">Hunter</th>
                                            <th th:text="#{users.mail}">Mail</th>                                                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user : ${allUsers}">                                            
                                            <td>
                                                <a th:href="@{/hunters/detail(id=${user.hunter.id})}">
                                                    <h3  th:text="${user.hunter.firstName + ' ' + user.hunter.surName}">hunter</h3>
                                                </a>                                                 
                                            </td>
                                            <td><a th:href="@{/users/detail(id=${user.id})}"  th:text="${user.mail}">user</a></td>

                                            <td>
                                                <a th:href="@{/users/edit(id=${user.id})}">
                                                    <img th:src="@{/images/pencil.png}" width="16" th:alt="#{edit}" th:title="#{edit}"/></a>
                                                <a th:href="@{/users/delete(id=${user.id})}">
                                                    <img th:src="@{/images/delete.png}" width="32" th:alt="#{delete}" th:title="#{delete}"/></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (users)"></div>

        </div>



        <script>
            $(document).ready(function () {
                var lang = $('#users_table').data("lang");
                $('#users_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });

        </script>
    </body>
</html> 