<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">   
                            <div class="row uniform">
                                <div class="8u">
                                    <h2 th:text="#{visits.catalogue}">Visits catalogue</h2>
                                </div>
                                <div class="4u">
                                    <a class="button icon fit fa-plus-circle" th:href="@{/visits/add}" th:text="#{visits.new}"> New visits</a>
                                </div>
                            </div>
                            <div class="row uniform"> &nbsp;</div>
                            <div class="table-wrapper" th:fragment="visits">
                                <table class="default" id="visits_table" th:attr="data-lang=#{datatables.url}">
                                    <thead>
                                        <tr>
                                            <th th:text="#{visits.note}">Note</th>
                                            <th th:text="#{visits.dateOfVisit}">Date of visit</th>
                                            <th th:text='#{visits.hunter}'>hunter</th>
                                            <th th:text='#{visits.forest}'>forest</th>
                                            <th th:text="#{visits.actions}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="visit : ${allVisits}">
                                            <td><a th:href="@{/visits/detail(id=${visit.id})}"  th:text="${visit.note}">detail</a></td>
                                            <td th:text="${#dates.format(visit.dateOfVisit, 'dd.MM.yyyy')}">date of visit</td>
                                            <td th:text="${visit.hunter.firstName + ' ' + visit.hunter.surName}">hunter</td>  
                                            <td th:text="${visit.forest.name}">forest</td>  


                                            <td>
                                                <a th:href="@{/visits/edit(id=${visit.id})}">
                                                    <img th:src="@{/images/pencil.png}" width="16" th:alt="#{edit}" th:title="#{edit}"/></a>
                                                <a th:href="@{/visits/delete(id=${visit.id})}">
                                                    <img th:src="@{/images/delete.png}" width="32" th:alt="#{delete}" th:title="#{delete}"/></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (visits)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#visits_table').data("lang");
                $('#visits_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });

        </script>
    </body>
</html>
