<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <h2 class="icon fa-user" th:text="#{myProfile}"> My profile</h2>
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/profile/edit-submit}"
                                  th:object="${userDTO}" method="post">
                                <div class="row uniform 12u">
                                    <div class="12u" th:include="modalError :: modal-error">list of errors</div>
                                    <h2 class="3u" th:text="#{hunters.firstName}">first name</h2>

                                    <div class="9u">
                                        <input type="text" th:field="*{hunter.firstName}" th:value="*{hunter.firstName}" autofocus="autofocus" th:placeholder="#{hunters.firstName}" required="true"/>
                                    </div>
                                    <h2 class="3u" th:text="#{hunters.lastName}">last name</h2>

                                    <div class="9u">
                                        <input type="text" th:field="*{hunter.surName}" th:value="*{hunter.surName}" th:placeholder="#{hunters.lastName}" required="true"/>
                                    </div>
                                    <h2 class="3u" th:text="#{hunters.personalInfo}">last name</h2>

                                    <div class="12u">
                                        <textarea th:field="*{hunter.personalInfo}" th:value="*{hunter.personalInfo}" th:placeholder="#{hunters.personalInfo}" rows="4" maxlength="255"/>​
                                    </div>
                                    <input type='hidden' th:field="*{mail}" th:value="*{mail}" />
                                    <input type="hidden" th:field="*{hunter.id}" th:value="*{id}"/>

                                    <div class="12u">
                                        <input type="submit" th:value="#{save}" name="save"/>
                                        <a th:href="@{/profile/edit}"> <input class="alt" type="button" th:value="#{reset}"/></a>
                                        <a th:href="@{/profile}"><input class="alt" type="button" th:value="#{cancel}"/></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>

            </div>
            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (hunters)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#visits_table').data("lang");
                $('#visits_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });
        </script>
    </body>
</html>