/*
	Striped by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		height: 100%;
	}
	
	body,input,textarea,select
	{
		line-height: 1.75em;
	}

	h2
	{
		font-size: 1.2em;
	}

	h3, h4, h5, h6
	{
		font-size: 1em;
	}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			display: inline-block;
			padding: 0.5em 2em 0.5em 2em;
		}
		
			input[type="button"].small,
			input[type="submit"].small,
			input[type="reset"].small,
			.button.small
			{
				font-size: 0.85em;
				padding: 0.35em 1.5em 0.35em 1.5em;
			}
		
			input[type="button"].big,
			input[type="submit"].big,
			input[type="reset"].big,
			.button.big
			{
				font-size: 1.25em;
				padding: 0.75em 2em 0.75em 2em;
			}
		
			input[type="button"].huge,
			input[type="submit"].huge,
			input[type="reset"].huge,
			.button.huge
			{
				font-size: 1.5em;
				padding: 0.75em 2em 0.75em 2em;
			}

	/* Pagination */

		.pagination
		{
			padding: 3em 0 0 0;
		}

			.pagination .pages
			{
			}

			.pagination .previous
			{
				margin-right: 0.6em;
			}

			.pagination .next
			{
				margin-left: 0.2em;
			}

			.pagination .pages a
			{
				width: 2.75em;
				height: 2.75em;
				line-height: 2.75em;
			}
			
			.pagination .button
			{
				height: 2.75em;
				padding-top: 0;
				padding-bottom: 0;
				line-height: 2.75em;
			}

	/* Box */

		.box
		{
		}

			.box.post
			{
			}

				.box.post .info
				{
				}

					.box.post .info .stats
					{
					}
					
						.box.post .info .stats li a
						{
							border-radius: 0.4em;
							opacity: 0.5;
							-moz-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
							-webkit-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
							-o-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
							-ms-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
							transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
						}

							.box.post .info .stats li:hover a
							{
								background-color: #f4f4f4;
								opacity: 1.0;
							}
		
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: 0.08em;
                font-variant: small-caps;

	}
	
		#logo a
		{
			display: block;
			background-color: #CCC8C8;
			background-image: url('images/bg01.png');
			padding: 0.4em 0.025em 0.4em 0em;
			border-radius: 0.1em;
			text-align: center;
			box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.25), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
			text-decoration: none;
			color: #fff;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		
	#content
	{
		box-shadow: 0 0 0.25em 0em rgba(0,0,0,0.25);
	}

		#content > .inner
		{
			/*
				This sets an upper limit on your page content to prevent it
				from looking insane on really wide displays. It's currently set
				to the width of the sample post images, but you can change it to
				whatever you like (or remove it entirely).
			*/
			max-width: 1038px;
			padding-bottom: 2em;
		}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
		
	#sidebar
	{
		position: absolute;
		top: 0;
		padding: 0.2em 1.35em 1em 1.15em;
		width: 14em; /* = whatever you want */
		background: #364050 url('images/bg01.png');
		box-shadow: inset -0.1em 0em 0.35em 0em rgba(0,0,0,0.15);
	}

		body.left-sidebar #sidebar
		{
			left: 0;
		}
	
		body.right-sidebar #sidebar
		{
			right: 0;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 2em 0 0 0;
		text-align: center;
	}

		#copyright p
		{
			font-size: 0.8em;
			line-height: 2em;
		}
	
		#copyright:before
		{
			height: 0.5em;
			margin: 0 0 2em 0;
		}