/*
	Striped by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 11pt;
		letter-spacing: 0;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	/* Section/Article */

		section,
		article
		{
			clear: both;
		}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			display: block;
			width: 100%;
			font-size: 1.25em;
			padding: 0.75em 0 0.75em 0;
			margin: 0.5em 0 0.5em 0;
		}

	/* Pagination */

		.pagination
		{
		}

			.pagination .pages
			{
				display: none;
			}

	/* Box */

		.box
		{
		}

			.box.post
			{
				padding-bottom: 5em;
				margin-bottom: 6em;
			}

				.box.post header
				{
				}

					.box.post header > p
					{
						font-size: 1em;
						font-family: 'Source Sans Pro', sans-serif;
						line-height: 1.5em;
					}

				.box.post .info
				{
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					border-top: solid 1px #ddd;
					padding-top: 0.5em;
				}

					.box.post .info .date
					{
						display: inline;
					}
					
						.box.post .info .date .year
						{
							display: none;
						}
						
						.box.post .info .date .month span
						{
							display: none;
						}

					.box.post .info .stats
					{
						display: inline;
						border-left: solid 1px #ddd;
						margin-left: 0.75em;
						padding-left: 0.75em;
					}

						.box.post .info .stats li
						{
							display: inline-block;
							margin-right: 0.85em;
						}

							.box.post .info .stats li a
							{
								display: inline-block;
								opacity: 0.5;
							}

								.box.post .info .stats li a:before
								{
									position: relative;
									top: 0.1em;
									margin-right: 0.5em;
									opacity: 0.35;
								}

								.box.post .info .stats li a:active
								{
									opacity: 1.0;
								}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		display: none;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		margin-top: 0 !important;
	}

		#nav:before
		{
			display: none !important;
		}
		
		#nav li:hover a
		{
			background: none;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		
	#content
	{
		margin-top: 44px;
		padding: 3em 20px 2em 20px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		padding: 20px 12px 20px 10px;
		box-shadow: inset -1px 0 0 0 rgba(255,255,255,0.15), inset -0.1em 0 0.5em 0 rgba(0,0,0,0.25);
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 2em 0 0 0;
		text-align: center;
	}

		#copyright p
		{
			font-size: 0.9em;
			line-height: 2em;
		}
	
		#copyright:before
		{
			height: 0.5em;
			margin: 0 0 2em 0;
		}

                
    /***** MUSHROOM HUNTERS*/
    
            .login-form
        {
            max-width: 736px;
        }
              
