<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->    
        <div id="wrapper">

            <!-- Content -->
            <div id="content">                                

                <h2 class="icon fa-plus-circle"> Create new visit</h2>



                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/visits/add-submit}" 
                                  th:object="${visitDTO}" method="post" >

                                <div class="row uniform 12u">
                                    <!--forestID-->
                                    <div class="6u">                                        
                                        <h2 class="3u" th:text="#{visits.forest}">Name</h2>                                        
                                        <select th:field="*{forestId}" required="true">
                                            <option th:each="forest : ${allForests}" 
                                                    th:value="${forest.id}" 
                                                    th:text="${forest.name}">forestName</option>
                                        </select>
                                    </div>
                                    <div class="6u" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                                        <h2 th:text="#{visits.hunter}">hunters name</h2>
                                        <select th:field="*{hunterId}" required="true">
                                            <option th:each="hunter : ${allHunters}" 
                                                    th:value="${hunter.id}" 
                                                    th:text="${hunter.getAllName()}">hunterName</option>
                                        </select>
                                    </div>
                                    
                                    <div class="6u" sec:authorize="hasRole('ROLE_USER')">
                                        <h2  th:text="#{visits.hunter}">hunters name</h2>
                                        <span th:text="${visitUserHunterName}" ></span><input type="hidden" th:field="*{hunterId}" th:value="${hunterId}" />
                                        <br /><br />
                                    </div>
                                    
                                    <div class="6u">
                                        <h2 th:text="#{visits.dateOfVisit}">Visit date</h2>
                                        <input type="text" id="dateOfVisit" th:field="*{dateOfVisitStr}" required="true" placeholder="dd.MM.yyyy"/>
                                    </div>
                                    <div class="12u">
                                        <h2  th:text="#{visits.note}">Visit note</h2>
                                        <textarea id="note" name="note" th:placeholder="#{visits.note}" rows="4" maxlength="255" required="true"/>​
                                    </div>
                                    <div class="12u">
                                        <input              type="submit"   th:value="#{create}" name="save"/>
                                        <input class="alt"  type="reset"    th:value="#{reset}"/>
                                        <a th:href="@{/visits}">
                                            <input class="alt" type="button" th:value="#{cancel}"/>
                                        </a>

                                    </div>
                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (visits)"></div>

        </div>

    </body>
</html>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
$(function() {
    $( "#dateOfVisit" ).datepicker( {
        changeDay: true,
        changeMonth: true,
        changeYear: true,
        showWeek: true,
        showButtonPanel: true,
        dateFormat: 'dd.mm.yy'       

    });
});                   
</script> 
<script th:src="@{#{datapicker.url}}"></script>