<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">

                            <div class="row uniform 12u">
                                <h2 class="3u" th:text="#{visits.dateOfVisit}">Date of visit</h2>
                                <h3 class="9u" th:text="${#dates.format(visitDTO.dateOfVisit, 'dd.MM.yyyy')}"></h3>
                                <h2 class="3u" th:text="#{visits.note}">Note</h2>
                                <h3 class="9u" th:text="${visitDTO.note}"></h3>
                                <h2 class="3u" th:text="#{visits.hunter}">Hunter</h2>
                                <a class="9u" th:href="@{/hunters/detail(id=${visitDTO.hunter.id})}">
                                    <h3  th:text="${visitDTO.hunter.firstName + ' ' + visitDTO.hunter.surName}">hunter</h3>
                                </a>
                                <h2 class="3u" th:text="#{visits.forest}">forest</h2>
                                <a class="9u" th:href="@{/forests/detail(id=${visitDTO.forest.id})}">
                                    <h3  th:text="${visitDTO.forest.name}">forest</h3>
                                </a>
                                <div class="12u">
                                    <a th:href="@{/visits/edit(id=${visitDTO.id})}"><input type="button" th:value="#{visits.edit}"/></a>
                                    <a th:href="@{/visits}"><input class="alt" type="button" th:value="#{visits.back}"/></a>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (visits)"></div>

        </div>

    </body>
</html>