<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                <h2 class="icon fa-user" th:text="#{hunters.hunterEdit}"> Mushroom hunter edit</h2>
                <div class="inner">

                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/hunters/edit-submit}"
                                  th:object="${mushroomHunterDTO}" method="post">
                                <div class="row uniform 12u">
                                    <h2 class="3u" th:text="#{hunters.firstName}">first name</h2>
                                    <div class="9u">
                                        <input type="text" th:field="${mushroomHunterDTO.firstName}" th:value="${mushroomHunterDTO.firstName}" autofocus="autofocus" placeholder="First Name" required="true"/>
                                    </div>
                                    <h2 class="3u" th:text="#{hunters.lastName}">last name</h2>

                                    <div class="9u">
                                        <input type="text" th:field="${mushroomHunterDTO.surName}" th:value="${mushroomHunterDTO.surName}" placeholder="Last Name" required="true"/>
                                    </div>
                                    <h2 class="3u" th:text="#{hunters.personalInfo}">personal info</h2>
                                    <div class="9u">
                                        <textarea th:field="${mushroomHunterDTO.personalInfo}" th:value="${mushroomHunterDTO.personalInfo}" placeholder="Personal info" rows="4" maxlength="255"/>​
                                    </div>
                                    <input type="hidden" th:field="${mushroomHunterDTO.id}" th:value="*{id}"/>
                                    <div class="9u">
                                        <input type="submit" th:value="#{hunters.save}" name="save"/>
                                        <a th:href="@{'/hunters/edit?id='+ ${mushroomHunterDTO.id} }"> <input class="alt" type="button" th:value="#{hunters.reset}"/></a>
                                        <a th:href="@{/hunters}"><input class="alt" type="button" th:value="#{hunters.cancel}"/></a>
                                    </div>
                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>

                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (hunters)"></div>

        </div>

    </body>
</html>