<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                
                <h2 class="icon fa-plus-circle" th:text="#{forests.forestCreate}"> Create new forest</h2>
                
                <div class="inner">
                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/forests/add-submit}" th:object="${forestDTO}" method="post">
                                <div class="row uniform 12u">
                                    
                                    <div class="12u">
                                        <input type="text" th:field="*{name}" th:value="*{name}" required="true" autofocus="autofocus" th:placeholder="#{forests.name}"/>
                                    </div>    
                                
                                    <div class="6u">
                                        <!-- <input type="text" th:field="*{latitude}" th:value="*{latitude}" required="true" th:placeholder="#{forests.latitude}" /> -->
                                        <p th:text="#{forests.latitude}">Latitude</p>
                                        <input type="text" th:field="*{latitudeStr}" th:value="*{latitude}" required="true"/>
                                    </div>
                                    <div class="6u">
                                        <!-- <input type="text" th:field="*{longitude}" th:value="*{longitude}" required="true" th:placeholder="#{forests.longitude}"/> -->
                                        <p th:text="#{forests.longitude}">Longitude</p>
                                        <input type="text" th:field="*{longitudeStr}" th:value="*{longitude}" required="true"/>
                                    </div>
                                    
                                    <div class="12u">
                                        <textarea th:field="*{description}" th:value="*{description}" rows="4" maxlength="255" placeholder="Description" th:placeholder="#{forests.description}"/>
                                    </div>
                                
                                    <input type="hidden" th:field="*{id}" th:value="*{id}"/>

                                    <div class="12u">
                                        <input type="submit" th:value="#{forests.save}" name="save"/>
                                        <input class="alt" type="reset" th:value="#{forests.reset}"/>
                                        <a th:href="@{/forests}"><input class="alt" type="button" th:value="#{forests.cancel}"/></a>
                                    </div>

                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>


                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (forests)"></div>

        </div>

    </body>
</html>
