<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">

                <!-- <h2 class="icon fa-user" th:text="#{forests.forestDetail}"> Forest detail</h2> -->
                <h2 th:text="#{forests.forestDetail}"> Forest detail</h2>

                <div class="inner">
                    <section class="box text-style1">
                        <div class="inner">
                            <div class="row uniform 12u" th:with="emptydescstring=#{forests.emptydescription}">

                                <h2 class="3u" th:text="#{forests.name}">Name</h2>
                                <div class="9u">
                                    <h3 th:text="${forestDTO.name}" >Name</h3>
                                </div>

                                <h2 class="3u" th:text="#{forests.description}">Description</h2>
                                <div class="9u">
                                    <h3 th:text="${#strings.isEmpty(forestDTO.description)?emptydescstring:forestDTO.description}" >Description</h3>
                                </div>

                                <h2 class="3u" th:text="#{forests.latitude}">Latitude</h2>
                                <div class="9u">
                                    <h3 th:text="${forestDTO.latitude}" >Latitude</h3>
                                </div>

                                <h2 class="3u" th:text="#{forests.longitude}">Longitude</h2>
                                <div class="9u">
                                    <h3 th:text="${forestDTO.longitude}" >Longitude</h3>
                                </div>


                                <!--visits-->
                                <h2 class='12u' th:text='#{forests.visits}'>visits</h2>

                                <div class="12u table-wrapper">
                                    <table class="default" id="visits_table" th:attr="data-lang=#{datatables.url}">
                                        <thead>
                                            <tr>
                                                <th th:text="#{visits.note}">Note</th>
                                                <th th:text="#{visits.dateOfVisit}">Date of visit</th>
                                                <!--<th th:text='#{visits.hunter}'>hunter</th>-->
                                                <th th:text='#{visits.forest}'>forest</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="visit: ${visitDTO}">
                                                <td><a th:href="@{/visits/detail(id=${visit.id})}"  th:text="${visit.note}">detail</a></td>
                                                <td th:text="${#dates.format(visit.dateOfVisit, 'dd.MM.yyyy')}">date of visit</td>
                                                <!--<td th:text="${visit.hunter.firstName + ' ' + visit.hunter.surName}">hunter</td>-->  
                                                <td th:text="${visit.forest.name}">forest</td>  


                                                <td>
                                                    <a th:href="@{/visits/edit(id=${visit.id})}">
                                                        <img th:src="@{/images/pencil.png}" width="16" th:alt="#{edit}" th:title="#{edit}"/></a>
                                                    <a th:href="@{/visits/delete(id=${visit.id})}">
                                                        <img th:src="@{/images/delete.png}" width="32" th:alt="#{delete}" th:title="#{delete}"/></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> 
                                <div class="12u">
                                    <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:href="@{/forests/edit(id=${forestDTO.id})}"><input type="button" th:value="#{forests.edit}"/></a>
                                    <a th:href="@{/forests}"><input class="alt" type="button" th:value="#{forests.back}"/></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (forests)"></div>

        </div>
        <script>
            $(document).ready(function () {
                var lang = $('#visits_table').data("lang");
                $('#visits_table').DataTable({
                    "language": {
                        url: lang
                    }
                });
            });
        </script>

    </body>
</html>
