<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="index :: header">
        <title></title>
    </head>

    <body class="left-sidebar">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content">
                
                <h2 th:text="#{forests.forestEdit}"> Editing forest</h2>
                
                <div class="inner">
                    <section class="box text-style1">
                        <div class="inner">
                            <form action="#" th:action="@{/forests/edit-submit}" th:object="${forestDTO}" method="post">
                                <div class="row uniform 12u">
                                    
                                    <h2 class="3u" th:text="#{forests.name}">Name</h2>
                                    <div class="9u">
                                        <input type="text" th:field="${forestDTO.name}" th:value="${forestDTO.name}" autofocus="autofocus" th:placeholder="#{forests.name}" required="true"/>
                                    </div>
                                    
                                    <h2 class="3u" th:text="#{forests.description}">Description</h2>
                                    <div class="9u">
                                        <textarea th:field="${forestDTO.description}" th:value="${forestDTO.description}" th:placeholder="#{forests.description}" rows="4" maxlength="255"/>​
                                    </div>
                                    
                                    <h2 class="3u" th:text="#{forests.latitude}">Latitude</h2>
                                    <div class="9u">
                                        <input type="text" name="latitudeStr" th:value="${forestDTO.latitude}" autofocus="autofocus" th:placeholder="#{forests.latitude}" required="true"/>
                                    </div>
                                    <h2 class="3u" th:text="#{forests.longitude}">Longitude</h2>
                                    <div class="9u">
                                        <input type="text" name="longitudeStr" th:value="${forestDTO.longitude}" autofocus="autofocus" th:placeholder="#{forests.longitude}" required="true"/>
                                    </div>
                                    
                                    <input type="hidden" th:field="${forestDTO.id}" th:value="*{id}"/>
                                    
                                    <div class="9u">
                                        <input type="submit" th:value="#{forests.save}" name="save"/>
                                        <input class="alt" type="reset" th:value="#{forests.reset}"/>
                                        <a th:href="@{/forests}"><input class="alt" type="button" th:value="#{forests.cancel}"/></a>
                                    </div>
                                </div>
                                <div class="6u" th:include="modalError :: modal-error"></div>
                            </form>
                            
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" th:include="sidebar :: sidebar (forests)"></div>

        </div>

    </body>
</html>
